$foreground: #FFF5D0;
$background: rgba(#15151C, 0.8);
$cursor: #A5CFAE;

$color0: #3C3C44;
$color1: #856F46;
$color2: #4CAA8B;
$color3: #FF7B23;
$color4: #C0A5C9;
$color5: #3DBEE6;
$color6: #FFE179;
$color7: #F6E8B4;
$color8: #ADA27E;
$color9: #856F46;
$color10: #4CAA8B;
$color11: #FF7B23;
$color12: #C0A5C9;
$color13: #3DBEE6;
$color14: #FFE179;
$color15: #F6E8B4;
