*{
  foreground: #F8F6C1;
  background: rgba(2,0,5, 0.8);
  cursor: #D4BB82;

  color0: #100E12;
  color1: #2C6E81;
  color2: #B08044;
  color3: #78A05F;
  color4: #51B9E2;
  color5: #7EF3DA;
  color6: #ECE44D;
  color7: #EDE99E;
  color8: #A6A36E;
  color9: #2C6E81;
  color10: #B08044;
  color11: #78A05F;
  color12: #51B9E2;
  color13: #7EF3DA;
  color14: #ECE44D;
  color15: #EDE99E;
}
